*{
 margin:0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;   
}

.container {
    display: flex;
    width: 80%;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container, .images-container {
    flex: 1;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #094f9e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.image-layer {
    position: relative;
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    gap: 10px; 
}

.image-layer img {
    border: 2px solid #ccc;
    width: 100%; 
    margin-bottom: 10px; 
    max-width: 48%; 
    border-radius: 10%;
  
}

.image1, .image2 {
    max-height: 200px;
    object-fit: cover;
}

